[{"api_url":"http:\/\/divxcim.com\/ytkazan\/DEMOapi.php"},{"api_url":"http:\/\/divxcim.com\/ytkazan\/DEMOapi.php"},{"api_url":"http:\/\/divxcim.com\/ytkazan\/DEMOapi.php"},{"api_url":"http:\/\/divxcim.com\/ytkazan\/DEMOapi.php"}]
